@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: .5;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.button {
    outline: none;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;

    &_play_large {
        display: block;
        filter: $video-play-large-filter;
        background-image: url('./assets/svg/video/icon-play-large.svg');
        width: 220px;
        height: 220px;
        margin: auto;
        z-index: 2;
    }

    &_play_large:hover {
        filter: $video-play-large-hover-filter;
    }

    &_play_small {
        background-image: url('./assets/svg/video/icon-play-small.svg');
        filter: $video-icon-filter;

        &:hover {
            filter: $video-icon-hover-filter;
        }
    }

    &_volume {
        background-image: url('./assets/svg/video/icon-volume.svg');
        filter: $video-icon-filter;

        &:hover {
            filter: $video-icon-hover-filter;
        }
    }

    &_fullscreen {
        background-image: url('./assets/svg/video/icon-fullscreen.svg');
        filter: $video-icon-filter;

        &:hover {
            filter: $video-icon-hover-filter;
        }
    }

    &__ripple-effect {
        position: absolute;
        display: block;
        border-radius: 50%;
        /* To make it round */
        background-color: rgba(219, 190, 110, 0.3);
        transform: translate(-80%, -30%);
        pointer-events: none;

        animation: ripple 1s linear infinite;
        z-index: 10;
    }




}
