.video-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 211px;

    &__dot {
        width: 12px;
        height: 12px;
        margin: 5px;
        filter: $dot-common-filter;
        background-image: url('./assets/svg/dot.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    &__dot_active {
        filter: $dot-active-filter;
    }


    &__dot:hover {
        filter: $dot-hover-filter;
    }

    &__arrow {
        width: 10px;
        height: 12px;
        margin: 5px;
        background-repeat: no-repeat;
        background-position: center center;
        filter: $dot-common-filter;
        background-size: contain;
    }

    &__arrow_left {
        background-image: url('./assets/svg/arrow-left.svg');
    }

    &__arrow_right {
        background-image: url('./assets/svg/arrow-right.svg');
    }


    &__arrow:hover {
        filter: $dot-hover-filter;
    }
}

@media (max-width: 768px) {
    .video-pagination {
        width: 255px;

        &__dot {
            width: 10px;
            height: 10px;
            margin: 10px;
        }

        &__arrow {
            width: 10px;
            height: 12px;
            margin: 20px;
        }
    }

}

@media (max-width: 420px) {
    .video-pagination {

        &__dot {
            width: 8px;
            height: 8px;
            margin: 10px;
        }

        &__arrow {
            width: 7px;
            height: 8px;
        }

    }
}
