.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 75px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 75px;
}

@media (max-width: 1380px) {
    .cards-container {
        column-gap: 108px;
        row-gap: 60px;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .cards-container {
        margin-top: 93px;
        margin-bottom: 62px;
    }
}

@media (max-width: 768px) {
    .cards-container {
        margin-top: 74px;
        column-gap: 56px;
        row-gap: 38px;
        margin-bottom: 78px;
    }
}

@media (max-width: 700px) {
    .cards-container {
        column-gap: 40px;
        margin-top: 67px;
        margin-bottom: 35px;
    }
}

@media (max-width: 420px) {
    .cards-container {
        row-gap: 39px;
        margin-bottom: 40px;
    }
}
