.error {
    border-color: #fa1111 !important;

    &-message {
        display: none;
        position: absolute;
        top: -.9rem;
        height: .7rem;
        left: 0;
        width: 100%;
        color: #fa1111;
        font-family: $font-major;
        font-size: .7rem;
        font-weight: 300;
        line-height: .7rem;
    }

    &+.error-message {
        display: block;
    }


}
