.error {
    border: 2px solid#fa1111 !important;

    &-message {
        display: none;
        position: absolute;
        top: -1rem;
        height: .8rem;
        left: 0;
        width: 100%;
        color: #fa1111;
        font-family: $font-major;
        font-size: .8rem;
        font-weight: 300;
        line-height: .8rem;
    }

    &+.error-message {
        display: block;
    }


}
