.card {
    text-decoration: none;
    color: $dark;
    width: calc((100vw - 40px - 2 * 60px) /3);
    max-width: 440px;

    &__img {
        display: block;
        width: 100%;
        height: auto;
        background-color: $bg-temp;
    }

    & h3 {
        position: relative;
        font-family: $font-secondary;
        font-size: 32px;
        letter-spacing: 5px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 25px;

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 68.182%;
            height: 2px;
            background-color: $dark-red;
            transition: width $speed-long;
        }
    }

    &:hover h3::after {
        width: 100%;
        transition: width $speed-long;
    }

    &__line-1 {
        font-family: $font-major;
        margin-top: 22px;
        font-weight: 200;
        font-size: 22px;
    }

    &__line-2 {
        font-family: $font-major;
        margin-top: 10px;
        font-weight: 200;
        font-size: 18px;
    }
}

@media (max-width: 1380px) {
    .card {
        width: calc((100vw - 40px - 2 * 108px) /2);

        & h3 {
            font-size: 28px;
            letter-spacing: 3px;
            margin-top: 25px;

            //TODO
            // &::after {
            //     content: "";
            //     position: absolute;
            //     bottom: -10px;
            //     left: 0;
            //     width: 68.182%;
            //     height: 2px;
            //     background-color: $dark-red;
            //     transition: width $speed-long;
            // }
        }

        &__line-1 {
            margin-top: 22px;
            font-size: 20px;
        }

        &__line-2 {
            margin-top: 10px;
            font-size: 1rem;
        }

    }
}

@media (max-width: 1024px) {
    .card {
        max-width: 330px;
    }
}

@media (max-width: 768px) {
    .card {
        width: calc((100vw - 40px - 2 * 56px) /2);
        max-width: 280px;

        & h3 {
            font-size: 22px;
            letter-spacing: 3px;
            margin-top: 25px;

            //TODO
            // &::after {
            //     content: "";
            //     position: absolute;
            //     bottom: -10px;
            //     left: 0;
            //     width: 68.182%;
            //     height: 2px;
            //     background-color: $dark-red;
            //     transition: width $speed-long;
            // }
        }

        &__line-1 {
            margin-top: 22px;
            font-size: 18px;
        }

        &__line-2 {
            margin-top: 10px;
        }
    }
}

@media (max-width: 700px) {
    .card {
        width: calc(100vw - 40px * 3);
        max-width: 380px;

        & h3 {
            font-size: 22px;
            letter-spacing: 3px;
            margin-top: 25px;

            //TODO
            // &::after {
            //     bottom: -10px;
            // }
        }

        &__line-1 {
            margin-top: 22px;
            font-size: 18px;
        }

        &__line-2 {
            margin-top: 10px;
        }
    }
}

@media (max-width: 420px) {
    .card {
        width: calc(100vw - 40px * 2);
        max-width: 280px;

        & h3 {
            font-size: 18px;
            letter-spacing: 5px;
            margin-top: 25px;

            //TODO
            // &::after {
            //     bottom: -10px;
            // }
        }

        &__line-1 {
            margin-top: 22px;
            font-size: 1rem;
        }

        // &__line-2 {
        //     margin-top: 10px;
        // }
    }
}
