@keyframes slidein {
    from {
        left: -100vw;
    }

    to {
        left: 0%;
    }
}

.form-container {
    position: fixed;
    display: flex;
    top: 0;
    height: 100vh;
    width: 100%;
    left: -100vw;
    z-index: 5;
    background-color: transparent;

    &_visible {
        left: 0;
        animation-duration: 3s;
        animation-name: slidein;

    }



    &__container {
        background-color: $light;
        position: relative;
        height: 845px;
        margin: auto;
    }
}
