@keyframes slidein {
    from {
        left: -100vw;
    }

    to {
        left: 0%;
    }
}

@keyframes slideout {
    from {
        left: 0%;
    }

    to {
        left: -100vw;
    }
}

.form-container {
    position: fixed;
    display: flex;
    top: 0;
    height: 100vh;
    width: 100%;
    left: -100vw;
    z-index: 5;
    background-color: transparent;
    overflow-y: hidden;


    &_visible {
        left: 0;
        animation-duration: 1s;
        animation-name: slidein;

    }

    &_invisible {
        left: -100vw;
        animation-duration: 1s;
        animation-name: slideout;

    }

}

// @media (max-width: 1023px) {
//     .form-container {
//         overflow-y: hidden;
//     }
// }
