@keyframes slidein {
    from {
        left: -100vw;
    }

    to {
        left: 0%;
    }
}

@keyframes slideout {
    from {
        left: 0%;
    }

    to {
        left: -100vw;
    }
}

.form-container {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    left: -100vw;
    z-index: 5;
    background-color: transparent;


    &_visible {
        left: 0;
        animation-duration: 1.5s;
        animation-name: slidein;

    }

    &_invisible {
        left: -100vw;
        animation-duration: 1.5s;
        animation-name: slideout;

    }

    &__container {
        background-color: $light;
        position: relative;
        width: 100%;
        max-width: 1440px;
        padding: 0;
        margin: auto;

    }
}

@media (max-width: 1023px) {
    .form-container {
        overflow-y: scroll;
    }
}
