.section-title {
    font-family: $font-secondary;
    font-weight: 400;
    color: $font-gold;
    font-size: $font-h2;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;

    &_dark-area {
        color: white;
    }

    &_underline {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -36px;
            left: 0;
            right: 0;
            height: 3px;
            background-color: $dark-red;
        }
    }
}


@media (max-width: 1280px) {
    .section-title {
        font-size: 6.25vw;
        line-height: 6.25vw;
        //80px
    }
}


@media (max-width: 1024px) {
    .section-title {
        font-size: 4.845vw;
        line-height: 4.845vw;
        //50px
    }
}


@media (max-width: 768px) {
    .section-title {
        font-size: 5.208vw;
        line-height: 5.208vw;
        //40px
    }
}

@media (max-width: 600px) {
    .section-title {
        font-size: 6.208vw;
        line-height: 6.208vw;
        //28px
    }
}

@media (max-width: 420px) {
    .section-title {
        font-size: 28px;
        line-height: 28px;
        //28px
    }
}
