.socials-list {
    display: flex;
    flex-direction: row;
    list-style: none;


    & li {
        margin-right: 25px;
        height: min-content;
    }

    & li:last-of-type {
        margin-right: 0;
    }

    & li:hover .social-icon {
        border-color: $link-hover;
        transition: border-color $speed-fast;
    }

    & a:active .social-icon {
        border-color: $link-active;
    }
}

.mobile-menu .socials-list {
    display: none;
}

@media (max-width: 768px) {

    .mobile-menu .socials-list {
        display: flex;
        margin: auto;
    }

}

@media (max-width: 740px) {
    .socials-list {

        & li {
            margin-right: calc(5 / 420 * 100vw);
        }
    }
}
