.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    &__icon {
        height: 26px;
        width: 49px;
        background-image: url("./assets/svg/logo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 25px;
    }

    &__icon_gold {
        background-image: url("./assets/svg/booking/logo_gold.svg");
        height: 41px;
        width: 85px;
    }

    & p {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: $font-secondary;
        font-size: 28px;
    }

}



.header .logo {
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .header .logo {
        align-items: baseline;

        &__icon {
            height: calc(20 / 420 * 100vw);
            max-height: 26px;
            width: calc(49 / 420 * 100vw);
            max-width: 49px;
            background-image: url("./assets/svg/logo.svg");
            margin-right: 25px;
        }

        & p {
            font-size: calc(1rem + 12 / 348 * 46vw);
        }
    }
}

@media (max-width: 420px) {
    .footer .logo {
        &__icon {
            height: 16px;
            width: 30px;
            margin-right: 19px;
        }

        & p {
            font-size: 1rem;
        }
    }

    .header .logo {
        &__icon {
            height: 16px;
            width: 30px;
            margin-right: 19px;
        }

        & p {
            font-size: 1rem;
        }
    }
}
