.volume-bar {
    border-color: transparent;
    flex-basis: 155px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 50px;
    cursor: pointer;
    height: 8px;
    border-radius: 0;
    outline: none;
    background: linear-gradient(to right, $dark-red 0%, $dark-red 43%, $bg-grey 43%, $bg-grey 100%);
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.volume-bar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: $light;
}
