@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

.carousel {
    position: relative;
    width: 100%;
    height: calc((700 / 1024 * 100vw) * 525 / 700);
    max-height: 750px;

    &__intro {
        position: absolute;
        left: 0;
        top: 150px;
        z-index: 1;

        & p {
            font-family: $font-major;
            color: $light;
            font-size: 28px;
            letter-spacing: 2px;
            margin-top: 25px;
        }

    }

    &__container {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(700 / 1024 * 100vw);
        max-width: 1000px;
        height: calc((700 / 1024 * 100vw) * 525 / 700);
        max-height: 750px;
        z-index: 0;
    }

    &__image-box {
        display: flex;
        position: absolute;
        flex-direction: row;
        top: 0;
        right: 0;
        width: calc(700 / 1024 * 100vw);
        max-width: 1000px;
        height: calc((700 / 1024 * 100vw) * 525 / 700);
        max-height: 750px;
        overflow: hidden;
        z-index: 0;
    }

    &__image {
        display: none;
        width: calc(700 / 1024 * 100vw);
        max-width: 1000px;
        height: calc((700 / 1024 * 100vw) * 525 / 700);
        max-height: 750px;
        animation: .5s ease-in-out;

        &_to-left {
            animation-name: left;
        }

        &_to-right {
            animation-name: right;
            animation-direction: reverse;
        }

        &_from-left {
            animation-name: left;
            animation-direction: reverse;
        }

        &_from-right {
            animation-name: right;
        }
    }

    &__image_active,
    &__image_next {
        display: block;
        position: absolute;
    }

    &__image_next {
        top: 0;
        width: 100%;
    }

    &__overlay.overlay {
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
        height: calc((700 / 1024 * 100vw) * 525 / 700);
        max-height: 750px;
        bottom: 0;
        pointer-events: none;
    }

    &__controls {
        position: absolute;
        background-color: $bg-dark;
        display: flex;
        bottom: -60px;
        right: 0;
        width: calc(100vw * (600 / 1440));
        max-width: 600px;
    }

    &__controls-wrapper {
        margin: 41px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        column-gap: 55px;

    }

    &__range {
        font-family: $font-major;
        font-size: 22px;
        font-weight: 400;
        width: 76px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__button-container {
        display: flex;
        align-items: center;
        width: 180px;
    }

    &__button.button {
        width: 1rem;
        height: 1rem;
        background-color: $carousel-button;
        margin-right: 25px;
    }

    &__button:hover.button {
        background-color: $carousel-button-hover;
    }

    &__button.button:last-of-type {
        margin-right: 0;
    }

    &__button_active.button {
        background-color: $carousel-button-active;
    }

    &__arrow-container {
        width: 80px;
        display: flex;
        flex-direction: row;
    }

    & .carousel__arrow-left,
    .carousel__arrow-right {
        width: 30px;
        height: 40px;
        background-repeat: no-repeat;
        background-image: url('./assets/svg/carousel-arrow.svg');
        background-position: center;
        filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(173deg) brightness(112%) contrast(99%);

        &:hover {
            filter: invert(62%) sepia(24%) saturate(491%) hue-rotate(356deg) brightness(82%) contrast(87%);
        }
    }

    & .carousel__arrow-left {
        margin-right: 20px;

    }

    & .carousel__arrow-right {
        transform: rotate(180deg);
    }
}

@media (max-width: 1480px) {
    .carousel {

        &__intro {
            top: calc(149 / 1480 * 100vw);


        }

        &__controls {
            width: 600px;
            max-width: none;
        }

    }
}

@media (max-width: 1024px) {
    .carousel {

        &__intro {
            top: calc(51 / 1024 * 100vw);

            & p {
                font-size: 24px;
            }

        }

        &__controls {
            width: calc(100vw - 40px);
            justify-content: flex-end;
        }

        &__controls-wrapper {
            margin: 40px 75px;
            column-gap: 45px;
        }

        &__button-container {
            display: flex;
            align-items: center;
            width: 160px;
        }

        &__button.button {
            width: 12px;
            height: 12px;
        }

        &__range {
            font-size: 20px;
            width: 71px;
        }

    }
}

@media (max-width: 768px) {
    .carousel {
        position: relative;
        height: calc((100vw - 40px) * 546 / 728);

        &__intro {
            position: static;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 47px;
        }

        &__intro p {
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            margin-top: 25px;
        }

        &__container {
            width: calc(100vw - 40px);
            height: calc((100vw - 40px) * 546 / 728);
            z-index: 0;

        }

        &__image-box {
            width: calc(100vw - 40px);
            height: calc((100vw - 40px) * 546 / 728);
            z-index: 0;
        }

        &__image {
            width: calc(100vw - 40px);
            height: auto;
            object-fit: contain;
            object-position: center;
        }

        &__overlay.overlay {
            display: none;
        }

        &__controls {
            justify-content: center;
            bottom: -100px;
        }

        &__controls-wrapper {
            margin: 30px auto;
        }





    }
}

@media (max-width: 600px) {
    .carousel {

        &__intro {
            position: static;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 7px;
        }

        &__intro p {
            font-weight: 300;
            font-size: 18px;
            line-height: 20px;
        }

        &__controls {
            height: 80px;
            bottom: -80px;
        }

        &__controls-wrapper {
            margin: 30px auto;
            width: calc(230 / 420 * 100vw);
            max-width: 230px;
            column-gap: 25px;
        }

        &__range {
            font-size: 1rem;
            width: 50px;
        }

        &__button-container {
            display: flex;
            align-items: center;
            width: 75px;
        }

        &__button.button {
            width: 7px;
            height: 7px;
            margin-right: 10px;
        }

        &__arrow-container {
            width: 55px;
        }

        & .carousel__arrow-left,
        .carousel__arrow-right {
            width: 20px;
            height: 40px;
            background-size: contain;
        }

        & .carousel__arrow-left {
            margin-right: 15px;
        }
    }
}

@media (max-width: 420px) {
    .carousel {

        &__intro p {
            font-size: 16px;
            line-height: 18px;
            margin-top: 26px;
        }


    }
}
