.carousel {
    position: relative;
    width: 100%;
    height: calc((700 / 1024 * 100vw) * 525 / 700);
    max-height: 750px;

    &__intro {
        position: absolute;
        left: 0;
        top: 150px;
        z-index: 1;

        & p {
            font-family: $font-major;
            color: $light;
            font-size: 28px;
            letter-spacing: 2px;
            margin-top: 20px;
        }

    }

    &__container {
        display: flex;
        position: absolute;
        flex-direction: row;
        top: 0;
        right: 0;
        width: calc(700 / 1024 * 100vw);
        max-width: 1000px;
        height: calc((700 / 1024 * 100vw) * 525 / 700);
        max-height: 750px;
        overflow: hidden;
        z-index: 0;
    }

    &__image {
        display: none;
        width: calc(700 / 1024 * 100vw);
        max-width: 1000px;
        height: calc((700 / 1024 * 100vw) * 525 / 700);
        max-height: 750px;
    }

    &__image_active {
        display: block;
    }

    &__overlay.overlay {
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
        height: calc((700 / 1024 * 100vw) * 525 / 700);
        max-height: 750px;
        bottom: 0;
    }

    &__controls {
        position: absolute;
        background-color: $bg-dark;
        padding: 41px 75px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        bottom: -58px;
        right: 0;
        align-content: center;
        align-items: center;
        width: calc(100vw * (600 / 1440));
        max-width: 600px;
    }

    &__range {
        font-family: $font-major;
        font-size: 22px;
        font-weight: 400;
        width: 76px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__button-container {
        display: flex;
        align-items: center;
        width: 180px;
    }

    &__button.button {
        width: 1rem;
        height: 1rem;
        background-color: $carousel-button;
        margin-right: 25px;
    }

    &__button:hover.button {
        background-color: $carousel-button-hover;
    }

    &__button.button:last-of-type {
        margin-right: 0;
    }

    &__button_active.button {
        background-color: $carousel-button-active;
    }

    &__arrow-container {
        width: 80px;
        display: flex;
        flex-direction: row;
    }

    & .carousel__arrow-left,
    .carousel__arrow-right {
        width: 30px;
        height: 40px;
        background-repeat: no-repeat;
        background-image: url('./assets/svg/carousel-arrow.svg');
        background-position: center;
        filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(173deg) brightness(112%) contrast(99%);

        &:hover {
            filter: invert(62%) sepia(24%) saturate(491%) hue-rotate(356deg) brightness(82%) contrast(87%);
        }
    }

    & .carousel__arrow-left {
        margin-right: 20px;

    }

    & .carousel__arrow-right {
        transform: rotate(180deg);
    }
}

@media (max-width: 1480px) {
    .carousel {

        &__intro {
            top: calc(150 / 1440 * 100vw);

            // & p {
            //     font-family: $font-major;
            //     color: $light;
            //     font-size: 28px;
            //     letter-spacing: 2px;
            //     margin-top: 20px;
            // }

        }

        &__controls {
            width: 600px;
            max-width: none;
        }

    }
}

@media (max-width: 1024px) {
    .carousel {

        &__controls {
            width: calc(100vw - 40px);
        }

    }
}
