.video-poster {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 452px;
    height: 254px;
    background-color: $bg-temp;
    margin-right: 20px;

    &:last-of-type {
        margin-right: 0;
    }

    &__overlay {
        padding: 15px 10px;
        flex-direction: column;
        justify-content: flex-start;

        & div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &__icon {
        display: block;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    &__heading {
        font-family: $font-major;
        color: $light;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        margin-right: 10px;
    }

    &__options {
        margin-right: 19px;
        height: 20px;
        width: 18px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: transparent;
        margin-left: auto;
        background-image: url('./assets/svg/video/icon-options.svg');
    }

    &__youtube-button {
        background-color: transparent;
        height: 60px;
        width: 80px;
        margin: 0 auto;
        margin-top: 10%;
        background-image: url('./assets/svg/icon-youtube-play.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-color: transparent;
        transition: all $speed-fast;
    }

    &__youtube-button:hover {
        transform: scale(1.3);
    }
}
