.overview {
    width: 530px;
    border: 1px solid $bg-dark;
    padding: 25px 30px;

    & input {
        padding: 10px;
        cursor: pointer;
    }

    & input:focus {
        outline: none;
    }

    &__line {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    &__line_header {
        margin-bottom: 22px;
    }

    &__title {
        color: #272727;
        font-family: $font-major;
        font-weight: 500;
        font-size: 32px;
        line-height: 30px;
    }

    &__subtitle {
        color: #740C11;
        font-family: $font-major;
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    &__picture {
        background-image: url(./assets/img/booking/img.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        align-self: stretch;

    }

    &__result {
        position: relative;
        padding-left: 30px;
        color: $bg-dark;
        font-family: $font-major;
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 5px;
    }

    &__result:last-of-type {
        margin-bottom: 0;
    }

    &__result::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        top: 0;
        left: 0;
    }

    &__result_date::before {
        background-image: url('./assets/svg/booking/date.svg');
    }

    &__result_time::before {
        background-image: url('./assets/svg/booking/time.svg');
    }

    &__result_ticket-type::before {
        background-image: url('./assets/svg/booking/check.svg');
    }

    & .overview__line_calculation {
        margin-bottom: 5px;
    }

    & .overview__line_calculation:last-of-type {
        margin-bottom: 0;
    }

    & .overview__line_calculation>div {
        display: flex;
        align-items: center;
    }

    &__ticket-count {
        width: 32px;
        height: 20px;
        color: #A4A4A3;
        background-color: $bg-dark;
        text-align: center;
        padding-top: 1px;
        border-radius: 5px;
        font-family: $font-major;
        font-size: 18px;
        line-height: 18px;
    }

    &__ticket-type {
        color: $bg-dark;
        font-family: $font-major;
        font-size: 22px;
        line-height: 22px;
        margin-left: 10px;
        font-weight: 400;
    }

    &__cost {
        color: $bg-dark;
        font-family: $font-major;
        font-size: 22px;
        line-height: 22px;
        margin-left: 10px;
        font-weight: 400;
    }

    &__currency {
        color: $bg-dark;
        font-family: $font-major;
        font-size: 22px;
        line-height: 22px;
        margin-left: 10px;
        font-weight: 400;
        margin-left: 7px;
    }

    &__hr {
        margin: 10px 0;
        background-color: #740C11;
        height: 2px;
        border: none;
    }

    &__line_total {
        align-items: center;
        margin-bottom: 10px;
    }

    &__line_total>div {
        display: flex;
        align-items: baseline;
    }

    &__total-title {
        color: $bg-dark;
        font-family: $font-major;
        font-size: 32px;
        line-height: 36px;
        font-weight: 400;
    }

    &__total-cost,
    &__total-currency {
        color: $bg-dark;
        font-family: $font-major;
        font-size: 32px;
        line-height: 36px;
        font-weight: 500;
    }

    &__line_bank-details {
        height: 241px;
        position: relative;
    }

    &__line_book {
        margin-top: 26px;
        display: flex;
        justify-content: flex-end;
    }

    &__bank-card {
        position: absolute;
        width: 360px;
        height: 211px;
        border-radius: 4px;
    }

    &__bank-card_face {
        top: 0;
        left: 0;
        background-color: #BCBCBC;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 34px 20px 15px;
    }

    &__card-details {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__img {
        width: 53px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__img_visa {
        background-image: url(./assets/svg/booking/visa.svg);
        height: 16px;
        margin-bottom: 15px;
    }

    &__img_mastercard {
        background-image: url(./assets/svg/booking/mastercard.svg);
        height: 32px;
    }

    &__field-title {
        position: absolute;
        top: -18px;
        left: 0;
        width: 100%;
        height: 15px;
        color: #161615;
        font-family: $font-major;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
    }

    &__card-numbers {
        width: 215px;
        display: flex;
        flex-direction: column;
    }

    &__card-number-label {
        position: relative;
    }

    &__card-number {
        width: 100%;
        height: 35px;
        background-color: white;
        border: none;
        margin-bottom: 29px;
        font-family: $font-major;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        color: #161615;
    }

    &__card-number:focus {
        outline: none;
    }

    &__exp-date {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__exp-month {
        height: 35px;
        width: 100px;
        background-color: white;
        border: none;
        font-family: $font-major;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        color: #161615;
    }

    &__exp-month:focus {
        outline: none;
    }

    &__exp-month-label {
        display: block;
        position: relative;
    }

    &__exp-year {
        height: 35px;
        width: 100px;
        background-color: white;
        border: none;
        font-family: $font-major;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        color: #161615;
    }

    &__exp-year:focus {
        outline: none;
    }

    &__exp-year-label {
        display: block;
        position: relative;
    }

    &__cardholder-name-label {
        display: block;
        position: relative;
        align-self: stretch;
    }

    &__cardholder-name {
        width: 100%;
        height: 35px;
        background: white;
        border: none;
        font-family: $font-major;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        color: #161615;
    }

    &__bank-card_reverse {
        right: 0;
        bottom: 0;
        background-color: #939393;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__black-line {
        background-color: #161615;
        height: 45px;
        width: 100%;
        margin: 25px 0 35px;
    }

    &__cvv-label {
        display: block;
        position: relative;
        margin-right: 20px;
    }

    &__cvv-title {
        position: absolute;
        width: 90%;
        height: 22px;
        top: -20px;
        left: 7px;
        color: #161615;
        font-family: $font-major;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
    }

    &__cvv-explanation {
        position: absolute;
        width: 70%;
        height: 22px;
        bottom: -30px;
        left: 7px;
        color: #161615;
        font-family: $font-major;
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
    }

    &__cvv {
        width: 75px;
        height: 35px;
        padding: 8px;
        background-color: white;
        color: $bg-dark;
        font-family: $font-major;
        font-size: 22px;
        line-height: 22px;
        font-weight: 400;
        border: none;
    }

    &__cvv:focus {
        outline: none;
    }

    &__cvv:hover {
        cursor: pointer;
    }

    &__book-button {
        display: block;
        position: relative;
        overflow: hidden;
        color: white;
        background-color: $dark-red;
        padding: 10px;
        min-width: 220px;
        font-family: $font-major;
        font-size: 22px;
        line-height: 22px;
        font-weight: 400;
        transition: background-color $speed-fast;
    }

    &__book-button:hover {
        background-color: $font-gold;
    }



}
