.go-up-link {
    position: fixed;
    display: none;
    background-color: transparent;
    box-shadow: 0 0 8px .5px rgba($color: #ccc, $alpha: .7);
    ;
    width: 45px;
    height: 45px;
    bottom: 2%;
    right: .5%;
    z-index: 4;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;

    &__arrow {
        color: $font-span-gold;
        font-size: 36px;
        text-align: center;
        pointer-events: none;
        display: inline-block;
        transition-property: all;
        transition-duration: .2s;
    }

    &_visible {
        display: block;
    }

    &_visible:hover &__arrow {
        transform: translateY(-50%);
        transition-property: all;
        transition-duration: .5s;
    }

    &_visible:active &__arrow {
        transform: translateY(0);
        transition-property: all;
        transition-duration: .1s;
    }





}
