.gallery-container {
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // width: 100%;
    // height: calc(570px * 5);

    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: calc(570px * 5 + 48px + 24px * 4);

    &__column {
        height: 100%;
        width: 456px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 36px;

        &:nth-of-type(1) {
            margin-top: 48px;
        }

        &:nth-of-type(3) {
            margin-top: 48px;
            margin-right: 0;
        }
    }

    & img {
        display: block;
        width: 456px;
        height: auto;
        margin-bottom: 24px;
    }

}
