.gallery-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: calc((570 / 456 * ((100vw - 40px - 36px * 2) / 3)) * 5 + 48px + 24px * 4);

    &__column {
        height: 100%;
        flex-basis: calc((100vw - 40px - 36px * 2) / 3);
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 36px;

        &:nth-of-type(1) {
            margin-top: 48px;
        }

        &:nth-of-type(3) {
            margin-top: 48px;
            margin-right: 0;
        }
    }

    &__item {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 24px;
    }

}

@media (max-width: 768px) {
    .gallery-container {

        &__column {
            flex-basis: calc((100vw - 40px - 24px * 1) / 2);
            margin-right: 24px;
        }

        &__column:nth-of-type(2) {
            margin-right: 0;
        }

        &__column:nth-of-type(3) {
            display: none;
        }
    }
}
