.progress-bar {
    border-color: transparent;
    width: calc(564 / 1024 * 100vw);
    max-width: 929px;
    height: calc(5 / 1024 * 100vw);
    max-height: 8px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 50px;
    cursor: pointer;
    border-radius: 0;
    outline: none;
    background: linear-gradient(to right, $dark-red 0%, $dark-red 53%, $bg-grey 53%, $bg-grey 100%);
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress-bar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: $light;
}

@media (max-width: 1024px) {
    .progress-bar {
        margin-left: calc(31 / 1024 * 100vw);
        margin-right: calc(31 / 1024 * 100vw);
    }
}

@media (max-width: 768px) {
    .progress-bar {
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        top: -5px;
        height: 5px;
        left: 0;
        right: 0;
        max-width: none;
        width: calc(100vw - 40px);
    }

    .progress-bar::-webkit-slider-thumb {
        width: 13px;
        height: 13px;
    }
}

@media (max-width: 420px) {
    .progress-bar {
        top: -4px;
        height: 4px;
    }

    .progress-bar::-webkit-slider-thumb {
        width: 10px;
        height: 10px;
    }
}
