$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;

$font-major: "Roboto", sans-serif;

$dark: black;
$light: white;

$link-hover: $font-gold;
$link-active: #7E6C51;


$screen1: 576px;
$screen2: 768px;
$screen3: 992px;
$screen4: 1200px;
$screen5: 1400px;
