$bg-dark: #030303;
$dark-red: #710707;
$bg-grey: #C4C4C4;
$font-gold: #9d8665;
$bg-temp: #e0dddd;
$font-span-gold: #CAAA7D;

$font-major: "Roboto",
sans-serif;
$font-secondary: "Forum",
serif;

$dark: black;
$light: white;

$link-hover: $font-gold;
$link-active: #7E6C51;


$screen1: 420px;
$screen2: 768px;
$screen3: 1024px;
$screen4: 1920px;
