.footer {
    background-color: $bg-dark;
    color: $light;


    &__logo {
        flex-basis: 145px;
        margin-right: 142px;
    }

    & hr {
        height: 3px;
        border: none;
        background-color: $grey-line;
    }

    &__container {
        display: flex;
        flex-direction: row;
    }

    &__container_top {
        padding: 87px 0 50px;
    }

    &__container_bottom {
        padding: 50px 0;
        flex-direction: row;
        justify-content: space-between;
        font-family: $font-major;
        font-weight: 200;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 2px;

        & .school {
            padding-left: 74px;
        }
    }

    & .subcontainer {
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    //logo + nav
    & .subcontainer_extra-nav {
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__nav {
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
    }

    &__nav-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 380px;
        row-gap: 25px;
        column-gap: 116px;
        font-family: $font-major;
        font-weight: 200;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 2px;
    }


    &__nav-item {
        display: block;
        transition: color $speed-fast;
        width: 124px;

        &_visiting {
            order: 1;
        }

        &_explore {
            order: 3;
        }

        &_video {
            order: 5;
        }

        &_gallery {
            order: 2;
        }

        &_tickets {
            order: 4;
        }

        &_contacts {
            order: 6;
        }
    }

    &__nav-item:hover a {
        color: $link-hover;
        transition: color $speed-fast;
    }

    &__nav-item:active a {
        color: $link-active;
    }

    & a {
        color: $light;
        text-decoration: none;
    }

    & .subcontainer_socials {
        justify-content: flex-end;
        align-items: flex-end;
    }

}

@media (max-width: 1024px) {
    .footer {

        &__container_top {
            flex-direction: row;
            justify-content: flex-start;
            padding-top: calc(65 / 1024 * 100vw);
            ;
            padding-bottom: calc(50 / 1024 * 100vw);
        }

        & .subcontainer_socials {
            justify-content: flex-end;
        }

        &__nav-list {
            width: 331px;
            column-gap: 83px;
        }

        &__logo {
            width: 194px;
            margin-right: 20px;
            align-items: center;
            margin-top: -5px;
            margin-right: 45px;
        }

        & .subcontainer_extra-nav {
            width: 100%;
            height: unset;
        }

        & .socials-list {
            margin-bottom: -5px;
        }

    }
}

@media (max-width: 1010px) {
    .footer {

        &__container_top {
            flex-direction: column;
            justify-content: flex-start;
            padding-top: calc(57 / 1024 * 100vw);
            ;
            padding-bottom: calc(50 / 1024 * 100vw);
        }

        & .subcontainer_socials {
            width: 100%;
            justify-content: flex-end;
            padding-right: calc(90 / 1024 * 100vw);
        }

        &__nav-list {
            margin-right: calc(90 / 1024 * 100vw);
            width: calc(364 / 768 * 100vw);
            max-width: 340px;
            //column-gap: calc(120 / 768 * 100vw);
        }

        &__logo {
            flex-basis: 199px;
            margin-right: 20px;
            ;
            flex-shrink: 0;
        }

        & .subcontainer_extra-nav {
            margin-bottom: calc(42 / 1024 * 100vw);
            justify-content: space-between;
            width: 100%;
            height: unset;
        }

    }
}

@media (max-width: 768px) {

    .footer {
        &__container_top {
            padding-top: 57px;
            padding-bottom: 40px;
        }

        &__nav-list {
            width: calc(100vw - 40px);
            margin-right: calc(90 / 768 * 100vw);
            max-width: 340px;
            column-gap: 10px;
            flex-wrap: wrap;
            font-size: 18px;
            row-gap: 18px;
            column-gap: 150px;
        }

        &__nav-item {
            width: 85px;
            max-width: none;
        }

        & .subcontainer_extra-nav {
            margin-bottom: calc(49 / 768 * 100vw);
        }

        & .subcontainer_socials {
            margin-right: 0;
            padding-right: calc(90 / 768 * 100vw);
        }

        &__container_bottom {
            padding: 38px 0;
        }

    }





}

@media (max-width: 766px) {
    .footer {


        &__logo {
            width: 100%;
            margin-bottom: 40px;
            max-height: 20px;
        }

        &__nav-list {
            width: calc(100vw - 40px);
            margin-right: 0;
            max-width: none;
            column-gap: 10px;
            flex-wrap: wrap;
        }

        &__nav-item {
            width: calc((100vw - 40px - 10px * 3) / 3);
            max-width: none;

            &_visiting {
                order: 1;
            }

            &_explore {
                order: 4;
            }

            &_video {
                order: 2;
            }

            &_gallery {
                order: 5;
            }

            &_tickets {
                order: 3;
            }

            &_contacts {
                order: 6;
            }
        }

        & .subcontainer_socials {
            justify-content: center;
            padding-right: 0;

        }

        &__container_bottom {
            & .school {
                display: none;
            }
        }

        & .subcontainer_extra-nav {
            margin-bottom: 40px;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
        }
    }
}

@media (max-width: 420px) {
    .footer {
        padding-top: 9px;

        &__logo {
            margin-bottom: 36px;
        }

        &__container_top {
            padding-top: 40px;
        }

        &__nav-list {
            width: calc(100vw - 40px);
            margin-right: 0;
            max-width: none;
            column-gap: 50px;
            row-gap: 24px;
            flex-wrap: wrap;
        }

        &__nav-item {
            width: 77px;
            max-width: none;
            font-size: 16px;
        }

        & .subcontainer_extra-nav {
            margin-bottom: 35px;
        }

        &__container_top {
            padding-bottom: 40px;
        }

        &__container_bottom {
            font-size: 16px;
            padding: 40px 0;
        }

    }
}

@media (max-width: 340px) {
    .footer {

        &__nav-list {
            width: calc(100vw - 40px);
            margin-right: 0;
            max-width: none;
            column-gap: 10px;
            flex-wrap: wrap;
        }

        &__nav-item {
            width: calc((100vw - 40px - 10px * 2) / 2);
            max-width: none;

            &_visiting {
                order: 1;
            }

            &_explore {
                order: 3;
            }

            &_video {
                order: 5;
            }

            &_gallery {
                order: 2;
            }

            &_tickets {
                order: 4;
            }

            &_contacts {
                order: 6;
            }

        }

    }
}
