.section {
    &_welcome {
        background-color: $bg-dark;
        color: $light;

        &__container {
            position: relative;
            height: 750px;
            background-image: url("../assets/img/welcome-slider/1.jpg");
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            padding-top: 8%;



            & p {
                font-family: $font-major;
                color: $light;
                font-size: 28px;
                letter-spacing: 2px;
                margin-top: 20px;
            }

        }

        &__overlay.overlay {
            background: linear-gradient(90deg, #000000 30%, rgba(0, 0, 0, 0.5) 45.19%, rgba(0, 0, 0, 0.3) 50.19%, rgba(0, 0, 0, 0) 56.73%);
            height: 100%;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 150px;
        }


        & .section-title {
            max-width: 50%;
        }

        //button in section Welcome
        &__link-button {
            display: inline-block;
            background-color: $dark-red;
            color: $light;
            border-radius: 10px;
            padding: 25px 66px;
            font-family: $font-major;
            font-size: 22px;
            letter-spacing: 2px;
            margin-top: 75px;
            text-decoration: none;
            transition: background-color $speed-fast;

            &:hover {
                background-color: $link-hover;
            }

            &:active {
                background-color: $link-active;
            }
        }

    }

    &_visiting {
        padding-top: 75px;

        & .section-title_underline::after {
            bottom: -25px;
        }
    }

    &_explore {
        background-color: $bg-dark;
        color: $light;
        padding: 90px 0 75px 0;

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            &>div {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            & img {
                display: block;
                width: 50%;
                max-width: 720px;
                height: auto;
            }

            & p {
                margin-bottom: 25px;
                max-width: 660px;
                font-family: $font-major;
                font-weight: 300;
                font-size: 22px;
                line-height: 38px;
                padding-right: 5px;
            }

            & p span {
                color: $font-span-gold;
            }
        }

        & .section-title {
            margin-top: 0;
            margin-bottom: 112px;
            color: $light;
            line-height: 65px;
        }


    }

    &_video {
        background-color: $light;
        color: $dark;
        padding: 86px 0 75px;

        &__container {
            display: flex;
            flex-direction: column;
        }

        & .subcontainer {
            width: 100%;

            &__heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 87px;

                & .section-title {
                    //max-width: 50%;
                    margin-top: 0;
                    line-height: 65px;
                }

                & p {
                    max-width: 50%;
                    font-family: $font-major;
                    font-size: 22px;
                    font-weight: 300;
                    line-height: 32px;
                }
            }

            &__large-video {
                position: relative;
                z-index: 0;
                width: 100%;
                max-width: 1440px;
                height: 650px;
                overflow: hidden;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    z-index: 1;
                }
            }

            &__controls {
                width: 100%;
                margin-top: -4.39px;
                display: flex;
                padding: 28px 29px;
                justify-content: space-between;
                align-items: center;
                background-color: $dark;
            }

            &__video-slider {
                margin-top: 34px;
                display: flex;
                flex-direction: row;
                gap: 40px;
                width: 100%;
                margin-bottom: 40px;
            }

            &__video-pagination {
                display: block;

                & img {
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    &_gallery {
        background-color: $bg-dark;
        padding-top: 75px;


        &__container {
            display: flex;
            flex-direction: column;
            height: 2125px;
            position: relative;
            overflow-y: hidden;
        }

        & .section-title {
            color: $light;
            margin-top: 0;
            margin-bottom: 75px;
        }

        &__overlay.overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            height: 360px;
            top: auto;
            bottom: 0;
        }
    }

    &_tickets {
        background-color: $light;
        color: $dark;
        padding-top: 75px;

        & .section-title {
            margin-top: 0;
            margin-bottom: 103px;

            &_underline::after {
                bottom: -28px;
            }
        }

        &__container {
            margin-bottom: 75px;
        }

        &__subcontainer {
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        &__img {
            width: 720px;
            height: 550px;
            background-image: url('../assets/img/tickets/picture.jpg');
        }

        &__short-form {
            width: 50%;
            padding-left: 48px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        & fieldset {
            border: none;
            padding: 0;
        }

        & legend {
            font-family: $font-major;
            font-size: 28px;
            font-weight: bold;
        }

        &__type {
            display: block;
            text-align: left;

            // заголовок fieldset
            & legend {
                margin-bottom: 50px;
                padding-left: 12px;
            }

            & .label {
                display: block;
                position: relative;
                padding-left: 52px;
                cursor: pointer;
                user-select: none;
                font-family: $font-major;
                font-weight: 300;
                font-size: 22px;
                line-height: 24px;
                margin-bottom: 29px;
            }

            & input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom radio button */
            & .checkmark {
                position: absolute;
                top: 3px;
                left: 12px;
                height: 17px;
                width: 17px;
                background-color: #eee;
                border: 2px solid black;
                border-radius: 50%;
            }

            /* When the radio button is checked, add a blue background */
            & .label:hover .checkmark {
                background-color: $font-gold;
            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            & .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the indicator (dot/circle) when checked */
            & input:checked~.checkmark:after {
                display: block;
            }

            /* Style the indicator (dot/circle) */
            & .checkmark:after {
                top: 3px;
                left: 3px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: black;
            }
        }

        &__amount {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;

            & legend {
                margin-bottom: 28px;
                margin-left: auto;
            }

            & label {
                font-family: $font-major;
                font-weight: 300;
                font-size: 22px;
                line-height: 24px;
                align-self: flex-start;
                margin-left: 25px;
            }

            & .number-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;
                margin-bottom: 12px;
                padding: 6px 10px;
                border: 3px solid black;
                width: 150px;
                height: 50px;
                background-color: transparent;

                & input {
                    all: unset;
                    text-align: right;
                    border: none;
                    width: 40px;
                    font-family: $font-major;
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 25px;
                }

                & .button {
                    font-family: $font-major;
                    font-size: 32px;
                    font-weight: 400;
                }
            }

        }

        &__total {
            font-family: $font-major;
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: .5px;
            margin-top: 42px;
        }

        &__button.button {
            background-color: black;
            color: $light;
            padding: 13px 38px;
            margin-top: 57px;
            font-family: $font-major;
            font-weight: 300;
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 2px;
            border-radius: 2px;
            transition: background-color $speed-fast;

            &:hover {
                background-color: $font-gold;
                color: $dark;
            }

            &:active {
                background-color: $link-active;
            }
        }




    }

    &_contacts {
        background-color: $light;
        color: $dark;
        padding: 75px 0 74px;

        & .section-title {
            margin-top: 0;
            margin-bottom: 103px;

            &_underline::after {
                bottom: -28px;
            }
        }

        &__subcontainer {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        &__name {
            margin-bottom: 50px;
            font-family: $font-major;
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
        }

        &__details {
            margin-bottom: 25px;
            font-family: $font-major;
            font-weight: 300;
            font-size: 22px;
            line-height: 26px;

            & a {
                text-decoration: none;
                color: $dark;
                transition: color $speed-fast;
            }

            & a:hover {
                color: $link-hover;
            }

            & a:active {
                color: $link-active;
            }
        }



        &__map {
            width: 960px;
            height: 620px;
            background-color: $bg-temp;
        }
    }

}
