.section {
    &_welcome {
        background-color: $bg-dark;
        color: $light;

        &__container {
            height: 750px;
            background-image: url("../assets/img/welcome-slider/welcome-to-the-louvre.png");
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            padding-top: 8%;
            //background-position: calc(100% - 20px) calc(100% - 10px);

            & p {
                font-family: $font-major;
                color: $light;
                font-size: 28px;
                letter-spacing: 2px;
                margin-top: 20px;
            }

        }


        & .section-title {
            max-width: 50%;
        }

        //button in section Welcome
        &__link-button {
            display: inline-block;
            background-color: $dark-red;
            color: $light;
            border-radius: 10px;
            padding: 25px 43px;
            font-family: $font-major;
            font-size: 22px;
            letter-spacing: 2px;
            margin-top: 75px;
            text-decoration: none;

            &:hover {
                background-color: $link-hover;
            }

            &:active {
                background-color: $link-active;
            }
        }

    }

    &_explore {
        background-color: $bg-dark;
        color: $light;
        padding: 90px 0 75px 0;

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            &>div {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            & img {
                display: block;
                width: 50%;
                max-width: 720px;
                height: auto;
            }

            & p {
                margin-bottom: 25px;
                max-width: 660px;
                font-family: $font-major;
                font-weight: 300;
                font-size: 22px;
                line-height: 38px;
            }

            & p span {
                color: $font-span-gold;
            }
        }

        & .section-title {
            margin-top: 0;
            margin-bottom: 100px;
            color: $light;
            line-height: 65px;
        }


    }

    &_video {
        background-color: $light;
        color: $dark;
        padding: 75px 0;

        &__container {
            display: flex;
            flex-direction: column;
        }

        & .subcontainer {
            width: 100%;

            &__heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 75px;

                & .section-title {
                    max-width: 50%;
                    margin-top: 0;
                    line-height: 65px;
                }

                & p {
                    max-width: 50%;
                    font-family: $font-major;
                    font-size: 22px;
                    font-weight: 300;
                    line-height: 32px;
                }
            }

            &__large-video {
                position: relative;
                z-index: 0;
                width: 100%;
                max-width: 1440px;
                height: 650px;
                overflow: hidden;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    z-index: 1;
                }
            }

            &__controls {
                width: 100%;
                margin-top: -4.39px;
                display: flex;
                padding: 20px 25px;
                justify-content: space-between;
                align-items: center;
                background-color: $dark;
            }

            &__video-slider {
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                gap: 40px;
                width: 100%;
                margin-bottom: 40px;
            }

            &__video-pagination {
                display: block;

                & img {
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    &_gallery {
        background-color: $bg-dark;
        color: $dark;
        padding-top: 75px;


        &__container {
            display: flex;
            flex-direction: column;
            height: 2125px;
            position: relative;
            overflow: hidden;
        }

        & .section-title {
            color: $light;
            margin-top: 0;
            margin-bottom: 75px;
        }

        &__overlay.overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            height: 360px;
            top: auto;
            bottom: 0;
        }
    }
}
