.section {
    &_welcome {
        background-color: $bg-dark;
        color: $light;
        padding-bottom: 60px;

        &__container {
            position: relative;
            display: flex;
        }

        //button in section Welcome
        &__link-button {
            display: inline-block;
            background-color: $dark-red;
            color: $light;
            border-radius: 10px;
            padding: 25px 65px;
            font-family: $font-major;
            font-size: 22px;
            letter-spacing: 2px;
            margin-top: 77px;
            text-decoration: none;
            transition: background-color $speed-fast;

            &:hover {
                background-color: $link-hover;
            }

            &:active {
                background-color: $link-active;
            }
        }

    }

    &_visiting {
        padding-top: 75px;

        & .section-title_underline::after {
            bottom: -25px;
        }
    }

    &_explore {
        background-color: $bg-dark;
        color: $light;
        padding: 90px 0 75px 0;

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }


        &__img-container {
            width: 720px;
            max-width: 720px;
            align-self: center;
        }

        &__img {
            display: inline-block;
            width: 100%;
            height: 100%;
        }


        &__description {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: calc((100vw - 40px) * (1440 - 720) / 1440);
            max-width: 660px;
            flex-shrink: 0;
            margin-right: 60px;

            & p {
                margin-bottom: 25px;
                max-width: 660px;
                font-family: $font-major;
                font-weight: 300;
                font-size: 22px;
                line-height: 38px;
                padding-right: 5px;
            }

            & p:last-of-type {
                margin-bottom: 0;
            }

            & p span {
                color: $font-span-gold;
            }
        }

        & .section-title {
            margin-top: 0;
            margin-bottom: 112px;
            color: $light;
            line-height: 65px;
        }


    }

    &_video {
        background-color: $light;
        color: $dark;
        padding: 86px 0 70px;

        &__container {
            display: flex;
            flex-direction: column;
        }

        & .subcontainer {
            width: 100%;

            &__heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 87px;

                & .section-title {
                    margin-top: 0;
                    line-height: 65px;
                }

                & p {
                    max-width: 50%;
                    font-family: $font-major;
                    font-size: 22px;
                    font-weight: 300;
                    line-height: 32px;
                }
            }

            &__controls {
                position: relative;
                width: calc(100vw - 40px);
                max-width: 1440px;
                padding-right: 25px;
                padding-left: 25px;
                margin-top: -0.39px;
                display: flex;
                max-height: 85px;
                height: calc(60/1024 * 100vw);
                justify-content: space-between;
                align-items: center;
                background-color: $dark;
            }

            &__controls .button {
                width: calc(30 / 1024 * 100vw);
                height: calc(30 / 1024 * 100vw);
                max-width: 40px;
                max-height: 40px;
            }

            &__video-slider {
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 35px;
            }

            &__video-pagination {
                margin-top: 40px;
            }
        }
    }

    &_gallery {
        background-color: $bg-dark;
        padding-top: 75px;


        &__container {
            display: flex;
            flex-direction: column;
            max-height: calc(2125px - 165px);
            height: calc((1400 - 135) / 984 * (100vw - 40px));
            position: relative;
            overflow-y: hidden;
        }

        & .section-title {
            color: $light;
            margin-top: 0;
            margin-bottom: 75px;
        }

        &__overlay.overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            max-height: 360px;
            height: calc(239 / 984 * (100vw - 40px));
            top: auto;
            bottom: 0;
            width: 100%;
        }
    }

    &_tickets {
        position: relative;
        background-color: $light;
        color: $dark;
        padding-top: 75px;

        & .section-title {
            margin-top: 0;
            margin-bottom: 103px;

            &_underline::after {
                bottom: -28px;
            }
        }

        &__container {
            margin-bottom: 75px;
        }

        &__subcontainer {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__img {
            width: 720px;
            height: 550px;
            background-image: url('./assets/img/tickets/picture.jpg');
            background-position: center center;
            background-size: cover;
        }

        &__short-form {
            width: 50%;
            padding-left: 48px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        & fieldset {
            border: none;
            padding: 0;
        }

        & legend {
            font-family: $font-major;
            font-size: 28px;
            font-weight: bold;
        }

        &__type {
            display: block;
            text-align: left;

            // заголовок fieldset
            & legend {
                margin-bottom: 50px;
                padding-left: 12px;
            }

            & .label {
                display: block;
                position: relative;
                padding-left: 52px;
                cursor: pointer;
                user-select: none;
                font-family: $font-major;
                font-weight: 300;
                font-size: 22px;
                line-height: 24px;
                margin-bottom: 29px;
            }

            & input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom radio button */
            & .checkmark {
                position: absolute;
                top: 3px;
                left: 12px;
                height: 17px;
                width: 17px;
                background-color: #eee;
                border: 2px solid black;
                border-radius: 50%;
            }

            /* When the radio button is checked, add a blue background */
            & .label:hover .checkmark {
                background-color: $font-gold;
            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            & .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the indicator (dot/circle) when checked */
            & input:checked~.checkmark:after {
                display: block;
            }

            /* Style the indicator (dot/circle) */
            & .checkmark:after {
                top: 3px;
                left: 3px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: black;
            }
        }

        &__amount {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;

            & legend {
                margin-bottom: 28px;
                margin-left: auto;
            }

            & label {
                font-family: $font-major;
                font-weight: 300;
                font-size: 22px;
                line-height: 24px;
                align-self: flex-start;
                margin-left: 25px;
            }

            & .number-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;
                margin-bottom: 12px;
                padding: 6px 10px;
                border: 3px solid black;
                width: 150px;
                height: 50px;
                background-color: transparent;

                & input {
                    all: unset;
                    text-align: right;
                    border: none;
                    width: 40px;
                    font-family: $font-major;
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 25px;
                }

                & .button {
                    font-family: $font-major;
                    font-size: 32px;
                    font-weight: 400;
                }
            }

        }

        &__total {
            font-family: $font-major;
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: .5px;
            margin-top: 42px;
        }

        &__button.button {
            background-color: black;
            color: $light;
            padding: 13px 0;
            width: 175px;
            margin-top: 57px;
            font-family: $font-major;
            font-weight: 300;
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 2px;
            border-radius: 2px;
            transition: background-color $speed-fast;

            &:hover {
                background-color: $font-gold;
                color: $dark;
            }

            &:active {
                background-color: $link-active;
            }
        }




    }

    &_contacts {
        background-color: $light;
        color: $dark;
        padding: 75px 0 74px;

        & .section-title {
            margin-top: 0;
            margin-bottom: 103px;

            &_underline::after {
                bottom: -28px;
            }
        }

        &__subcontainer {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        &__name {
            margin-bottom: 50px;
            font-family: $font-major;
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
        }

        &__details {
            margin-bottom: 25px;
            margin-right: 1rem;
            font-family: $font-major;
            font-weight: 300;
            font-size: 22px;
            line-height: 26px;
            flex-shrink: 0;

            & a {
                text-decoration: none;
                color: $dark;
                transition: color $speed-fast;
            }

            & a:hover {
                color: $link-hover;
            }

            & a:active {
                color: $link-active;
            }
        }

        &__map {
            display: inline-block;
            width: 960px;
            height: 620px;
            flex-shrink: 1;
        }

    }

}

@media (max-width: 1440px) {
    .section {

        &_welcome {

            &__link-button {
                padding: 25px 65px;
                font-family: $font-major;
                font-size: 22px;
                letter-spacing: 2px;
                margin-top: calc(77 / 1480 * 100vw);
            }
        }

        &_explore {

            & .section-title {
                width: 100%;
                margin-bottom: calc(83 / 1024 * 100vw);
            }

            &__container {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            &__description {
                width: 100%;
                max-width: none;
                margin-bottom: calc(52 / 1024 * 100vw);

                & p {
                    max-width: none;
                }
            }



        }

        &_contacts {
            &__map {
                max-width: 70.53%;
                ;
                height: auto;
            }

            &__details {
                width: 282px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .section {

        &_tickets {

            &__type {
                display: none;
            }

            &__short-form {
                justify-content: flex-end;
                padding-left: 40px;
            }

            &__img {
                width: calc((100vw - 40px) * .71138);
                height: auto;
                flex-shrink: 0;
            }

            &__amount {
                align-items: flex-start;

                & .number-container {
                    width: 175px;
                }

                & label {
                    margin-left: 0;
                }

                & legend {
                    margin-left: 0;
                }
            }
        }

        &_contacts {
            &__name {
                font-size: 24px;
            }

            &__details {
                font-size: 20px;
                width: 274px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .section {
        &_welcome {

            &__link-button {
                margin-top: calc(50 / 1024 * 100vw);
            }
        }

        &_video {
            & .subcontainer {
                &__heading {
                    justify-content: flex-start;
                    //margin-bottom: 87px;

                    // & .section-title {
                    //     margin-top: 0;
                    //     line-height: 65px;
                    // }

                    & p {
                        display: none;
                    }
                }
            }
        }

        &_explore {
            &__description {
                & p {
                    font-size: 20px;
                    margin-bottom: 0;
                }

                & p:last-of-type {
                    display: none;
                }
            }
        }
    }
}


@media (max-width: 950px) {
    .section {

        &_video {

            & .subcontainer__video-pagination {
                margin-top: 21px;
            }

        }

        &_tickets {

            &__img {
                width: calc((100vw - 40px) * (444 / 728));
                height: calc(((100vw - 40px) * (444 / 728)) * (340 / 444));
            }

            &__short-form {
                padding-left: 60px;
                padding-right: 49px;
            }

        }

        &_contacts {

            &__subcontainer {
                flex-direction: column;
                justify-content: flex-start;
            }

            &__details {
                margin-bottom: 40px;
            }

            &__map {
                max-width: none;
                width: 100%;
                height: auto;
            }


        }
    }
}

@media (max-width: 768px) {
    .section {

        &_video {

            & .subcontainer__controls {
                padding-right: calc(30 / 768 * 100vw);
                padding-left: calc(30 / 768 * 100vw);
            }
        }



        &_explore {
            &__description p {
                display: none;
            }

            &__img-container {
                width: 100%;
                max-width: 720px;
                padding-bottom: 100%;
                position: relative;
                padding-bottom: calc(700 / 720 * 100%);
                /* соотношение сторон */
                height: 0;
                overflow: hidden;
            }

            &__img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &_gallery {
            &__container {
                height: calc((100vw - 40px) * 1080 / (768 - 40));
            }
        }
    }
}

@media (max-width: 670px) {
    .section {

        &_video {

            & .subcontainer__controls {
                padding-right: calc(20 / 420 * 100vw);
                padding-left: calc(20 / 420 * 100vw);
                height: 50px;
                max-height: none;
            }

            & .subcontainer__video-pagination {
                margin-top: 40px;
            }
        }

        &_tickets {
            &__subcontainer {
                flex-direction: column;
            }

            &__img {
                width: 100%;
                height: calc((100vw - 40px) * (160 / 380));
            }

            &__short-form {
                padding-left: 0;
                padding-right: 0;
                margin: 40px auto 0;
                justify-content: center;
                font-size: 1rem;
            }

            &__amount {
                align-items: center;
                font-size: inherit;
            }

            & legend {
                margin: 0 auto 20px;
                font-size: inherit;
            }

            & label {
                font-size: inherit;
            }

            &__total {
                font-size: inherit;
            }

            &__button.button {
                font-size: inherit;
            }

        }
    }
}

@media (max-width: 420px) {
    .section {

        &_video {

            & .subcontainer__controls {
                padding-right: calc(20 / 420 * 100vw);
                padding-left: calc(20 / 420 * 100vw);
            }

            & .subcontainer__controls .button {
                width: 18px;
                height: 18px;
            }
        }

        &_gallery {
            &__container {
                height: calc((100vw - 40px) * 637 / (420 - 40));
            }
        }
    }
}
